.subtotal {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 1vw;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 3px;
    font-size: 2vw;
  }
  
  .subtotal__gift {
    display: flex;
    align-items: center;
  }
  
  .subtotal__gift > input {
    margin-right: 5px;
  }
  
  .subtotal > button {
    background: #f0c14b;
    border-radius: 2px;
    width: 70%;
    height: 100%;
    font-size: 2vw;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
  }